.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's on top of other content */
  /*display: hidden ; /* Initially hidden */
}

.popup h2 {
  margin-bottom: 10px;
}

.popup input[type="file"] {
  margin-bottom: 10px;
}

.popup button {
  margin-right: 10px;
}

.popup button:last-child {
  margin-right: 0;
}

/* Inputs upload document styles */
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"]::before {
  content: "Choose File";
  display: inline-block;
  background: #1f2937;
  color: white;
  border: 1px solid #1f2937;
  border-radius: 0.375rem 0 0 0.375rem;
  padding: 0.5rem 1rem;
  margin-right: -1px;
  cursor: pointer;
}
input[type="file"]:hover::before {
  background: #374151;
}
